---
layout: base.njk
title: Plakanje i program spavanja
description: Šta nauka kaže o plakanju tokom programa spavanja i kako bezbedno pomoći bebi da razvije zdrave navike spavanja.
keywords: plakanje, sleep trening, program spavanja, naučna istraživanja, san beba
---

{% block head %}
    <script type="application/ld+json">
        { "@type": "BlogPosting", "headline": "Plakanje i program spavanja", "description": "Šta nauka kaže o plakanju tokom
        programa spavanja.", "image": "https://babysleepteam.rs/media/plakanje.jpg", "inLanguage": "sr-RS", "author": { "@type":
        "Person", "name": "Anđela Jerinić" }, "publisher": { "@type": "LocalBusiness", "name": "BabySleepTeam", "url":
        "https://babysleepteam.rs", "logo": { "@type": "ImageObject", "url": "https://babysleepteam.rs/media/logo-aneta.jpg" }
        }, "datePublished": "2023-02-01T21:22:00+01:00", "dateModified": "2023-02-01T21:22:00+01:00", "mainEntityOfPage": {
        "@type": "WebPage", "@id": "https://babysleepteam.rs/naucni-kutak/plakanje-i-sleep-trening/" } }
    </script>
{% endblock %}
<!--Page Title-->
<section class="page-title" style="background-image:url(/media/img/shutterstock_1981734041.jpg);">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <ul class="bread-crumb clearfix">
                <li>
                    <a href="/">Početna</a>
                </li>
                <li>
                    <a href="/naucni-kutak/">Naučni kutak</a>
                </li>
                <li>Plakanje i program spavanja</li>
            </ul>
            <h1>Plakanje i program spavanja</h1>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- Sidebar Page Container -->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div
            class="row">
            <!--Content Side-->
            <div class="content-side col-lg-8 col-md-12 col-sm-12">
                <div
                    class="news-detail">
                    <!-- News Block -->
                    <div class="news-block">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image wow fadeIn"><img src="/media/plakanje.jpg" alt="Plakanje" loading="lazy"> </figure>
                                <div class="author-signature"></div>
                            </div>
                            <div class="lower-content">
                                <ul class="post-info">
                                    <li>
                                        <span class="fa fa-pencil-alt"></span>Anđela Jerinić</li>
                                    <li>
                                        <span class="fa fa-calendar-alt"></span>01.02.2023 21:22</li>
                                </ul>
                                <h3>Plakanje i program spavanja</h3>
                                <div class="umb-grid">
                                    <div class="grid-section">
                                        <div>
                                            <div class="container">
                                                <div class="row clearfix">
                                                    <div class="col-md-12 column">
                                                        <div>
                                                            <body>
                                                                <p style="text-align: justify;">
                                                                    <strong>Oko plakanja i programa spavanja vodi se zaoštrena debata među roditeljima. Dok su jedni potpuno za program,
                                                                        drugi tvrde da je štetan i loš po dugoročan odnos između roditelja i dece. Međutim, vrlo malo znamo, skoro pa ništa, do
                                                                        kakvih su otkrića došli naučnici i šta je zapravo istina...</strong>
                                                                </p>
                                                                <p>
                                                                    <strong>Dve struje</strong>
                                                                </p>
                                                                <p style="text-align: justify;">Oko plakanja i programa spavanja vodi se zaoštrena debata među roditeljima. Ova vrsta
                                                                    rasprave nije prisutna samo kod nas, gde se program pojavljuje tek odnedavno, te prirodno rađa nepoverenje i sumnju, već
                                                                    i širom sveta gde se vrlo uspešno primenjuje već decenijama. Mnoge muči razumljiva briga o negativnim posledicama plača
                                                                    po zdrav emotivni razvoj deteta.</p>
                                                                <p style="text-align: justify;">Ipak, u ovim raspravama retko se pominju naučna istraživanja što dodatno raspiruje
                                                                    sumnju i nepoverenje. Sa druge strane, potreba za naučno utemeljenim činjenicama u vezi sa negativnim posledicama
                                                                    plakanja tokom sleep treninga postaje sve veća kako ova vrsta treninga postaje sve rasprostranjenija kod nas.</p>
                                                                <p style="text-align: justify;">
                                                                    <strong>Vešti smo u objašnjavanju a slabi u
                                                                        dokazivanju</strong>
                                                                </p>
                                                                <p style="text-align: justify;">Kao naučni novinar i majka dvoje dece, pre nego što sam se upustila u trening za
                                                                    spavanje, želela sam da istražim što više na ovu temu i dobijem pouzdane informacije kako bih bila potpuno sigurna da ne
                                                                    radim ništa što će na moju decu ostaviti bilo kakve, makar i najmanje posledice. Moram priznati da mi tadašnje glasine
                                                                    po roditeljskim grupama nisu ulivale nimalo poverenja jer su komentari varirali od najpozitivnijih do najnegativnijih,
                                                                    pa je delovalo da sve zavisi samo od različitog mišljenja, doživljaja i osećaja, bez ikakvog čvrstog utemeljenja. To mi
                                                                    je potvrdilo fenomenalnu opasku profesora eksperimentalne psihologije sa Univerzitetskog koledža u Londonu, Dejvida
                                                                    Lagnade koji je u jednom intervjuu rekao: „Vešti smo u objašnjavanju a slabi u dokazivanju. Na osnovu vrlo malo
                                                                    informacija ljudi mogu da kreiraju priču koja bi objasnila šta se dogodilo. Reč je o sposobnosti, skoro pa kreativnom
                                                                    procesu. Ipak, to ne znači da će priča do koje smo došli biti tačna.“</p>
                                                                <p style="text-align: justify;">Kako je moj cilj bio da dođem do pouzdanih informacija o uticaja sleep treninga na svoju
                                                                    decu, bilo je prirodno da se zapitam postoje li naučne studije na ovu temu. Nakon nekoliko meseci istraživanja, pronašla
                                                                    sam mnoštvo zanimljivih radova od kojih su svi jednoznačno ukazivali na prednosti čvrstog i produženog sna kod beba i
                                                                    odraslih, i vrlo argumentovano ubili svaku moju sumnju o mogućim štetnim posledicama.</p>
                                                                <p>
                                                                    <strong>Nauka iza treninga za
                                                                                                                                                        spavanje</strong>
                                                                </p>
                                                                <p style="text-align: justify;">I pored svesti o izrazito štetnim posledicama nespavanja po zdrav psiho-fizički razvoj
                                                                    dece, naročito beba, mnogi roditelji se plaše da će kontrolisano plakanje i negodovanje tokom treninga imati lošiji
                                                                    uticaj na njihovo dete od neispunjavanja osnovne potrebe za snom. Ako pođemo od netačne pretpostavke da se tokom
                                                                    treninga dete ostavlja samo da plače, razumljiva je roditeljska briga da bi ovo moglo da utiče na njihov odnos sa
                                                                    detetom, osećaj sigurnosti i poverenja, pa čak i zdrav emotivni i neurološki razvoj bebe.
                                                                    <strong>Međutim, nijedno naučno istraživanje nije potvrdilo ovakve
                                                                        sumnje.</strong>
                                                                </p>
                                                                <p style="text-align: justify;">
                                                                    <em>
                                                                        <strong>Kako ljudi često mešaju sleep trening sa cry-it-out metodom tokom koje se beba ostavi sama u sobi da plače sve
                                                                            dok ne zaspi od iscrpljenosti, važno je napomenuti da su metode sleep treninga vrlo postepene i blage. Iz istog razloga
                                                                            one su i vrlo zahtevne za roditelje jer se traži njihovo konstantno prisustvo i posvećen rad sa detetom. Mama ili tata
                                                                            pomno prate svaku bebinu reakciju, reaguju na nju i umiruju je na sve moguće načine. Roditelji u svakom trenutku mogu
                                                                            uzeti dete u naručje u slučaju da procene da mu je to zaista potrebno. Sve ovo beba nepogrešivo oseća te nema govora o
                                                                            dubljim posledicama od trenutnog negodovanja. Jedini plač koji se toleriše u određenoj meri jeste plač zbog
                                                                            neispunjavanja bebine želje za određenim načinom uspavljivanja na koji je navikla i zbog kog ima isprekidan noćni san
                                                                            i/ili vrlo kratke dnevne dremke. Ispunjavanjem te želje, roditelj uvodi i dete i sebe u začarani krug kojim rešava
                                                                            trenutnu situaciju i na kratko umiruje bebu, ali joj dugoročno gledano razvija pogrešne navike na uštrb vitalnih
                                                                            potreba, ostavljajući umornim i sebe i dete.</strong>
                                                                    </em>
                                                                </p>
                                                                <p style="text-align: justify;">Kao potporu svega gore navedenog daćemo primer jedne vrlo značajne i temeljne
                                                                    <a
                                                                        rel="noopener"
                                                                        href="https://publications.aap.org/pediatrics/article-abstract/130/4/643/30241/Five-Year-Follow-up-of-Harms-and-Benefits-of?redirectedFrom=fulltext?autologincheck=redirected"
                                                                        target="_blank">studije</a>
                                                                    o uticajima sleep treninga na razvoj deteta i odnos prema roditeljima koju je objavila Američka pedijatrijska akademija.
                                                                    Reč je o šestogodišnjem istraživanju tokom kog su ispitivani dugoročni efekti treninga za spavanje na: 1. emotivni i
                                                                    mentalni razvoj dece, 2. odnos privrženosti prema roditeljima i 3. mentalno zdravlje roditelja. Tokom šest godina praćen
                                                                    je razvoj 226-oro dece od kojih je 173 prošlo kroz trening za spavanje dok 53 nije. Rezultati istraživanja pokazali su
                                                                    da
                                                                    <strong>ne postoje indikacije da je trening za spavanje imao bilo pozitivne ili negativne
                                                                        efekte</strong>
                                                                    na pomenuta
                                                                                                                                                tri faktora, te da
                                                                    <strong>deca koja su prošla kroz sleep trening nisu imala veću verovatnoću za nastanak bilo kakvih emotivnih problema
                                                                        ili manjak privrženosti prema roditeljima</strong>
                                                                    u odnosu na drugu grupu dece koja nisu
                                                                    trenirana.
                                                                </p>
                                                                <p style="text-align: justify;">
                                                                    <strong>
                                                                        <em>Brojna druga naučna istraživanja na temu posledica plača u ranom detinjstvu na psiho-fizički i emotivni razvoj
                                                                            deteta i odnosa roditelj-dete uzimaju u obzir isključivo</em>
                                                                        dugoročno izlaganje deteta plaču i stresu koje se ponavlja, kao i nedostatak roditeljske brige i
                                                                        ljubavi.</strong>
                                                                    <a name="_ftnref1" href="#_ftn1">
                                                                        <span>[1]</span>
                                                                    </a>
                                                                    <a name="_ftnref2" href="#_ftn2">
                                                                        <span>[2]</span>
                                                                    </a>
                                                                    <a name="_ftnref3" href="#_ftn3">
                                                                        <span>[3]</span>
                                                                    </a>
                                                                    <a name="_ftnref4" href="#_ftn4">
                                                                        <span>[4]</span>
                                                                    </a>
                                                                    <a name="_ftnref5" href="#_ftn5">
                                                                        <span>[5]</span>
                                                                    </a>
                                                                    <a name="_ftnref6" href="#_ftn6">
                                                                        <span>[6]</span>
                                                                    </a>
                                                                </p>
                                                                <p style="text-align: justify;">(Na kraju ovog članka nalaze se linkovi ka pomenutim istraživanjima gde možete
                                                                    samostalno istražiti više na ovu temu.)</p>
                                                                <p style="text-align: justify;"><img
                                                                        src="/media/brytny-com-ejitsg30lns-unsplashe0bd.jpg"
                                                                        alt="Beba spava"
                                                                        loading="lazy"/>
                                                                </p>
                                                                <p>
                                                                    <strong>Uticaji nespavanja na bebu i
                                                                                                                                                        mamu</strong>
                                                                </p>
                                                                <p style="text-align: justify;">I dok nijedna studija do sada ne potvrđuje štetnost kratkotrajnog plakanja do kog dolazi
                                                                    tokom sleep treninga, veliki broj istraživanja ukazuje na ozbiljne posledice nespavanja po zdrav fizički, mentalni i
                                                                    emotivni razvoj deteta a naročito pravilan razvoj mozga kod beba.</p>
                                                                <p style="text-align: justify;">Sama činjenica da je bebi tokom prva tri meseca života, kada se vrlo intenzivno razvija,
                                                                    potrebno između 16 i 17 sati sna, ukazuje na to da je pored hrane i majčinske ljubavi, spavanje njena najveća potreba.
                                                                    Sa šest meseci, bebi je potrebno između 13 i 14 sati sna, dok tokom prve godine života provede više od pola vremena
                                                                    spavajući. Ipak, nije važno samo
                                                                    <em>koliko</em>
                                                                    spava već i
                                                                    <em>kako</em>
                                                                    spava. Isprekidan san čak i ako traje 12 sati, nije istog kvaliteta kao i dugačak, čvrst san tokom kog beba neometano
                                                                    prolazi kroz sve faze sna, uključujući i onu najvažniju a to je dubok san. Naime, česta noćna buđenja i manjak sna kod
                                                                    beba
                                                                    <a rel="noopener" href="https://www.sciencedirect.com/science/article/abs/pii/S0378378204001355" target="_blank">
                                                                    povezuju sa slabijim kognitivnim razvojem</a>. Takođe, bebe koje lošije spavaju sklonije su lošijem raspoloženju,
                                                                    razdražljivošću, plačljivom ponašanju i hiperaktivnosti, dok su zdravstveno sklonije češćim padovima imuniteta i
                                                                    razboljevanjima od dece koje dobijaju dovoljnu količinu dnevnog i noćnog sna.
                                                                </p>
                                                                <p>
                                                                    <strong>Nespavanje, bejbi bluz i postporođajna
                                                                        depresija</strong>
                                                                </p>
                                                                <p style="text-align: justify;">Međutim, od posledica nespavanja ne pati samo beba. Vrlo je važno voditi računa i o
                                                                    roditeljima, naročito majkama koje uglavnom nose najveći teret noćnih buđenja.
                                                                    <strong>Umorne majke
                                                                                                                                                        sklonije su bejbi bluzu</strong>
                                                                        . Ovo stanje karakterišu jake promene raspoloženja, stalan osećaj tuge i potištenosti, česta plakanja, slab apetit,
                                                                        manjak energije, osećaj nezaštićenosti, preopterećenosti obavezama i anksioznosti oko bebe što sve vrlo negativno utiče
                                                                        ne samo na ženu, već i na oca i novorođenče za čiji je pravilan razvoj u najranijem periodu od ključnog značaja
                                                                        staložena i zdrava majka. Prosto je nemoguće imati zadovoljnu mamu koja noću ne spava. Ovo se naročito prenosi na bebu
                                                                        kod majki koje doje s obzirom da
                                                                    <a rel="noopener" href="https://www.halobeba.rs/aktuelnosti/kako-stres-utice-na-dojenje/" target="_blank">stres
                                                                        negativno utiče na oksitocin</a>
                                                                , hormon ljubavi i sreće koji pomaže mleku da poteče. Zbog toga se povremeno dešava da umesto ljubavi i opuštanja, tokom
                                                                dojenja dolazi do frustracije i nezadovoljstva i kod majke i kod bebe. Beba se trudi da sisa ali bezuspešno, ne guta,
                                                                postaje nervozna, kreće da plače a majka ima osećaj da nema dovoljno mleka jer svo mleko usled stresa zapravo ostaje
                                                                ”zarobljeno” u dojkama.</p>
                                                                <p style="text-align: justify;"><img
                                                                        src="/media/postporodjajna-depe0bd.jpg"
                                                                        alt="Postporođajna depresija"
                                                                        loading="lazy"/>
                                                                </p>
                                                                <p style="text-align: justify;">O bejbi bluzu se i dalje vrlo malo govori, a prvi dani majčinstva uglavnom se
                                                                    predstavljaju kao najlepši period u životu svake žene dok nasuprot tome statistički podaci pokazuju da čak
                                                                    <a
                                                                        rel="noopener"
                                                                        href="https://www.nhs.uk/conditions/baby/support-and-services/feeling-depressed-after-childbirth/"
                                                                        target="_blank">85 odsto žena</a>
                                                                    doživljava blaži ili jači oblik emotivne neuravnoteženosti koja se direktno dovodi u vezu sa
                                                                    nespavanjem.</p>
                                                                <p style="text-align: justify;">Pored bejbi bluza, ispresecan san utiče i na slabiju koncentraciju koja može biti vrlo
                                                                    rizična, naročito ukoliko majka u takvom stanju sedne za volan sa bebom u kolima. Vožnja pod dejstvom umora daleko je
                                                                    rizičnija od vožnje pod dejstvom alkohola jer se prekomeran umor koji slabi pažnju mnogo teže kontroliše iako se udesi
                                                                    usled pijanstva lakše dokazuju pa samo imamo privid da su zastupljeniji.</p>
                                                                <p style="text-align: justify;">Pored
                                                                    <a
                                                                        rel="noopener"
                                                                        href="https://www.stat.gov.rs/sr-latn/oblasti/stanovnistvo/rodjeni-i-umrli/"
                                                                        target="_blank"
                                                                        title="Informacije Republičkog zavoda za statistiku o broju živorođenih u Srbiji u poslednjih 10 godina ukršteni sa
                                                                            statističkim podacima o procentu žena koji proživljava postporođajne poremećaje.">
                                                                    činjenice da u Srbiji godišnje više od</a>
                                                                    <a
                                                                        rel="noopener"
                                                                        href="https://www.nhs.uk/conditions/baby/support-and-services/feeling-depressed-after-childbirth/"
                                                                        target="_blank"
                                                                        title="Portal NHS koji finansira Ministarstvo zdravlja Velike Britanije, link ka članku Feeling depressed after
                                                                            childbirth">
                                                                        45.000 majki
                                                                    </a>proživljava teži ili lakši vid
                                                                                                                                                emotivnih
                                                                    <a
                                                                        rel="noopener"
                                                                        href="https://www.nhs.uk/mental-health/conditions/post-natal-depression/overview/"
                                                                        target="_blank"
                                                                        title="Portal NHS koji finansira Ministarstvo zdravlja Velike Britanije, link ka članku Overview - Postnatal depression">
                                                                    postporođajnih neuravnoteženosti</a>, o ovoj temi se i dalje vrlo malo zna što otežava razumevanje majčinske uloge,
                                                                    napore sa kojima se suočava i potrebe da joj se pomogne.</p>
                                                                <p style="text-align: justify;">U krajnjoj instanci, umor se kod majki povezuje i sa javljanjem mnogo teže kliničke
                                                                    slike odnosno
                                                                    <strong>postporođajne depresije</strong>
                                                                    koja je daleko ređa pojava od bejbi bluza ali ipak zahvata čak 10 odsto žena što nije malo ako imamo u vidu da ovo
                                                                    stanje neretko završava pokušajima čedomorstva i/ili samoubistva.
                                                                </p>
                                                                <p><img
                                                                        src="/media/stormseeker-rx12b5ux7qm-unsplash78a8.jpg"
                                                                        alt="Umorena mama"
                                                                        loading="lazy"/>
                                                                </p>
                                                                <p>
                                                                    <a name="_ftn1" href="#_ftnref1">
                                                                        <span></span>
                                                                    </a>
                                                                </p>
                                                                <p>
                                                                    <strong>Photo by<span></span>
                                                                        <a href="https://unsplash.com/es/@sseeker?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">
                                                                        Stormseeker</a>
                                                                        <span>
                                                                            on
                                                                        </span>
                                                                        <a href="https://unsplash.com/photos/rX12B5uX7QM?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">
                                                                        Unsplash</a>
                                                                    </strong>
                                                                </p>
                                                                <p></p>
                                                                <p>
                                                                    <strong>Sleep trening nije za svakog</strong>
                                                                </p>
                                                                <p>Ipak, važno je istaći da sleep trening nije za svakog. Roditelji koji nisu u potpunosti sigurni u svoju odluku, ne bi
                                                                    trebalo da se upuštaju u trening za spavanje jer je vrlo verovatno da ga neće dovoljno dosledno sprovoditi te da će samo
                                                                    namučiti i sebe i bebu bez značajnih rezultata. Za uspešan trening neophodni su smireni roditelji koji će svoj mir i
                                                                    sigurnost preneti na bebu a ona će za uzvrat lako i brzo usvojiti svaku novinu. Kako ne postoje naučni dokazi o
                                                                    štetnosti treninga za spavanje po zdrav razvoj beba i dece, čitavu raspravu oko plakanja možemo svesti na emotivni
                                                                    doživljaj roditelja od kog u najvećoj meri zavisi i bebin doživljaj kao i uspešnost celog procesa koji nas vodi do prve
                                                                    prospavane noći!</p>
                                                                <p><img
                                                                        src="/media/ana-tablas-ob0xblwcamw-unsplash287d.jpg"
                                                                        alt="Mama i beba"
                                                                        loading="lazy"/>
                                                                </p>
                                                                <p>Istražite više:</p>
                                                                <p>
                                                                    <a name="_ftn1" href="#_ftnref1">
                                                                        <span>[1]</span>
                                                                    </a>
                                                                    Center on the Developing Child at Harvard University, The foundations of lifelong health are built in early childhood.
                                                                    Link:
                                                                    <a href="http://www.developingchild.harvard.edu/">www.developingchild.harvard.edu</a>
                                                                </p>
                                                                <p>
                                                                    <a name="_ftn2" href="#_ftnref2">
                                                                        <span>[2]</span>
                                                                    </a>
                                                                    McGinnis JM, Williams-Russo P, Knickman JR, The case for more active policy attention to health promotion. Health Aff
                                                                    (Millwood). 2002;21(2):78–93[PubMed], Link:
                                                                    <a href="https://www.healthaffairs.org/doi/10.1377/hlthaff.21.2.78">
                                                                    https://www.healthaffairs.org/doi/10.1377/hlthaff.21.2.78</a>
                                                                </p>
                                                                <p>
                                                                    <a name="_ftn3" href="#_ftnref3">
                                                                        <span>[3]</span>
                                                                    </a>
                                                                    Schor EL, Abrams M, Shea K. Medicaid: health promotion and disease prevention for school readiness, Health Aff
                                                                    (Millwood). 2007;26(2):420–429, Link:
                                                                    <a href="https://www.semanticscholar.org/paper/Medicaid:-health-promotion-and-disease-prevention-Schor-Abrams/11e845b111e5e17bc011955c44d6fe23509035ea">
                                                                    https://www.semanticscholar.org/paper/Medicaid%3A-health-promotion-and-disease-prevention-Schor-Abrams/11e845b111e5e17bc011955c44d6fe23509035ea</a>
                                                                </p>
                                                                <p>
                                                                    <a name="_ftn4" href="#_ftnref4">
                                                                        <span>[4]</span>
                                                                    </a>
                                                                    Shonkoff JP, Boyce WT, McEwen BS. Neuroscience, molecular biology, and the childhood roots of health disparities:
                                                                    building a new framework for health promotion and disease prevention. JAMA. 2009;301(21):2252–2259, Link:
                                                                    <a href="https://www.researchgate.net/publication/26261757_Neuroscience_Molecular_Biology_and_the_Childhood_Roots_of_Health_Disparities_Building_a_New_Framework_for_Health_Promotion_and_Disease_Prevention">
                                                                    https://www.researchgate.net/publication/26261757_Neuroscience_Molecular_Biology_and_the_Childhood_Roots_of_Health_Disparities_Building_a_New_Framework_for_Health_Promotion_and_Disease_Prevention</a>
                                                                </p>
                                                                <p>
                                                                    <a name="_ftn5" href="#_ftnref5">
                                                                        <span>[5]</span>
                                                                    </a>
                                                                    Braveman P, Barclay C. Health disparities beginning in childhood: a life-course perspective. Pediatrics. 2009;124(suppl
                                                                    3):S163–S175, Link:
                                                                    <a href="https://pubmed.ncbi.nlm.nih.gov/19861467/">https://pubmed.ncbi.nlm.nih.gov/19861467/</a>
                                                                </p>
                                                                <p>
                                                                    <a name="_ftn6" href="#_ftnref6">
                                                                        <span>[6]</span>
                                                                    </a>
                                                                    Haggerty RJRK, Pless IB. Child Health and the Community. New York, NY: John Wiley and Sons; 1975,
                                                                    Link:
                                                                    <a href="https://books.google.rs/books?hl=en&amp;lr=&amp;id=kJwkuARrjv8C&amp;oi=fnd&amp;pg=PR11&amp;ots=DwXG3VrxCU&amp;sig=kdejzWxVO3-VsauvL--q_oKYgB8&amp;redir_esc=y#v=onepage&amp;q&amp;f=false">
                                                                    https://books.google.rs/books?hl=en&amp;lr=&amp;id=kJwkuARrjv8C&amp;oi=fnd&amp;pg=PR11&amp;ots=DwXG3VrxCU&amp;sig=kdejzWxVO3-VsauvL--q_oKYgB8&amp;redir_esc=y#v=onepage&amp;q&amp;f=false</a>
                                                                </p>
                                                            </body>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Other Option -->
                    <div class="post-share-options clearfix">
                        <div class="float-right share">
                            <p>Podelite na:</p>
                            <ul class="social-icon-colored">
                                <li>
                                    <a href="#">
                                        <span class="fab fa-facebook-f"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fab fa-twitter"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--Sidebar Side-->
            <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                <aside class="sidebar">
                    <div class="sidebar-widget posts-widget">
                        <div class="sidebar-title">
                            <h5>Najnovije objave</h5>
                        </div>
                        <div class="widget-content">
                            <article class="post">
                                <div class="post-inner">
                                    <figure class="image">
                                        <a href="/naucni-kutak/beba-ne-mora-sama-da-se-uspava/"><img src="/media/cute-baby-with-stuffed-toy.jpg" alt="Beba ne mora sama da se uspava" loading="lazy"> </a>
                                    </figure>
                                    <div class="date">
                                        <span class="far fa-calendar-alt"></span>20.10.2025</div>
                                    <h5>
                                        <a href="/naucni-kutak/beba-ne-mora-sama-da-se-uspava/">Beba ne mora da se uspava sama</a>
                                    </h5>
                                </div>
                            </article>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>
<!-- End Sidebar Page Container -->