<!--Main Footer-->
<footer class="main-footer">
    <div class="anim-icons">
        <span class="icon icon-sparrow wow zoomIn" data-wow-delay="400ms"></span>
        <span class="icon icon-rainbow-2 wow zoomIn" data-wow-delay="800ms"></span>
        <span class="icon icon-star-3"></span>
        <span class="icon icon-star-3 two"></span>
        <span class="icon icon-sun"></span>
        <span class="icon icon-plane wow zoomIn" data-wow-delay="1200ms"></span>
    </div>

    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon icon-arrow-up"></span></div>

    <!--footer upper-->
    <div class="footer-upper">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Big Column-->
                <div class="big-column col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="row clearfix">

                        <!--Footer Column-->
                        <div class="footer-column col-xl-4 col-lg-4 col-md-6 col-sm-12">
                            <div class="footer-widget logo-widget">
                                <div class="logo">
                                    <a href="/"><img src="/media/logo-aneta.jpg"
                                            alt="Logo Aneta" /></a>
                                </div>
                                <div class="text">Dobar san predstavlja osnov psihičkog i fizičkog zdravlja
                                    svakog čoveka a naročito beba. Kroz personalizovani rad sa Vama i Vašim
                                    detetom za samo dve nedelje dovodimo spavanje Vaše bebe u savršen red a Vama
                                    vraćamo izgubljen kvalitet života!</div>

                            </div>
                        </div>

                        <!--Footer Column-->
                        <div class="footer-column col-xl-4 col-lg-4 col-md-6 col-sm-12">
                            <div class="footer-widget links-widget text-center">
                                <h4 class="widget-title">Korisni linkovi</h4>
                                <div class="widget-content">
                                    <ul class="list">
                                        <li><a href="/">Početna</a></li>
                                        <li><a href="/o-nama/">O nama</a></li>
                                        <li><a href="/#programs">Usluge</a></li>
                                        <li><a href="/o-nama/#testimonials">Utisci</a></li>
                                        <li><a href="/naucni-kutak/">Naučni kutak</a></li>
                                        <li><a href="/galerija/">Galerija</a></li>
                                        <li><a href="/#faq">Česta pitanja</a></li>
                                        <li><a href="/kontakt/">Kontakt</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--Footer Column-->
                        <div class="footer-column col-xl-4 col-lg-4 col-md-6 col-sm-12">
                            <div class="footer-widget contact-widget">
                                <h4 class="widget-title">Kontakt</h4>
                                <div class="widget-content">
                                    <ul class="contact-info">
                                        <li><a href="tel:+381691517080"><span
                                                    class="fa fa-phone-square"></span>Anđela: +38169 151 70
                                                80</a></li>
                                        <li><a href="mailto:andjelasleeptrainer@gmail.com"><span
                                                    class="fa fa-envelope"></span>andjelasleeptrainer@gmail.com</a>
                                        </li>
                                        <!--<li><span class="fa fa-map"></span></li>-->
                                    </ul>
                                </div>
                                <h4 class="widget-title pt-3">Sertifikati</h4>
                                <a href="/media/img/andjela-jerini%c4%87-cpd-certificate.png"
                                    target="_blank" rel="noopener noreferrer" class="p-3">
                                    <i class="fa fa-file-pdf fa-2x"></i>
                                </a>
                                <a href="/media/img/andjela-jerini%c4%87-sleep-nanny-academy-certificate-1.png"
                                    target="_blank" rel="noopener noreferrer" class="p-3">
                                    <i class="fa fa-file-pdf fa-2x"></i>
                                </a>
                                <h4 class="widget-title pt-3">Pravila poslovanja</h4>
                                <div class="widget-content">
                                    <ul class="contact-info">
                                        <li><a href="/pravila/politika-privatnosti.html">Politika privatnosti</a></li>
                                        <li><a href="/pravila/politika-kolacica.html">Politika kolačića</a></li>
                                        <li><a href="/pravila/uslovi-koriscenja.html">Uslovi korišćenja</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Footer Bottom-->
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <div class="social-links">
                    <ul class="social-icon-colored">
                        <li><a href="https://www.instagram.com/_babysleepteam_" target="_blank"
                                rel="noopener noreferrer" aria-label="Instagram"><span
                                    class="fab fa-instagram"></span></a></li>
                        <!--<li><a href="#"><span class="fab fa-twitter"></span></a></li>-->
                        <!--<li><a href="#"><span class="fab fa-youtube"></span></a></li>-->
                    </ul>
                </div>
                <div class="copyright">Copyright &copy; 2024 BabySleepTeam. All rights reserved.</div>
            </div>
        </div>
    </div>
</footer>
