---
layout: base.njk
title: Naučni kutak
description: Naučni članci i saveti o spavanju beba. Saznajte kako pomoći bebi da prespava noć, kako umor utiče na dojenje i zašto se bebe bude noću.
keywords: spavanje beba, sleep trening, san bebe, kako beba da prespava noć, dojenje, umor, novorođenče, dnevne dremke, bebe se bude noću, BabySleepTeam
---

{% block head %}
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Blog",
      "@id": "https://babysleepteam.rs/naucni-kutak/#blog",
      "url": "https://babysleepteam.rs/naucni-kutak/",
      "name": "Naučni kutak | BabySleepTeam",
      "description": "Naučni članci i saveti o spavanju beba.",
      "inLanguage": "sr-RS",
      "publisher": {
        "@type": "Organization",
        "@id": "https://babysleepteam.rs/#organization",
        "name": "BabySleepTeam"
      }
    }
    </script>
{% endblock %}

        <!--Page Title-->
        <section class="page-title" style="background-image:url(/media/img/shutterstock_1981734041.jpg);">
            <div class="auto-container">
                <div class="inner-container clearfix">
                    <ul class="bread-crumb clearfix">
                        <li><a href="/">Početna</a></li>
                        <li>Naučni kutak</li>
                    </ul>
                    <h1>Naučni kutak</h1>
                </div>
            </div>
        </section>
        <!--End Page Title-->

        <!-- News Section -->
        <section class="news-section">
            <div class="auto-container">
                <div class="row">
                    <!--News Block -->
                    <div class="news-block col-lg-6 col-md-12 col-sm-12 wow fadeInUp d-flex">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="/naucni-kutak/beba-ne-mora-sama-da-se-uspava/"><img
                                            src="/media/cute-baby-with-stuffed-toy.jpg"
                                            alt="Beba sa plišanom igračkom - Beba ne mora sama da se uspava" loading="lazy"></a></figure>
                                <div class="author-signature"></div>
                            </div>
                            <div class="lower-content">
                                <ul class="post-info">
                                    <li><span class="fa fa-pencil-alt"></span>Anđela Jerinić</li>
                                    <li><span class="fa fa-calendar-alt"></span>20.10.2025. 17:27</li>
                                </ul>
                                <h3><a href="/naucni-kutak/beba-ne-mora-sama-da-se-uspava/">Beba ne mora
                                        da se uspava sama da bi spavala celu noć</a></h3>
                                <div class="text">Rasprostranjeno je shvatanje da se bebe bude noću jer ne umeju same da
                                    se uspavaju. Međutim, ovo je velika zabluda! Bebe se ne bude zato što su navikle na
                                    ruke ili navikle da sisaju da bi zaspale, već zato što su premorene - ne od noći,
                                    već najčešće od dana.
                                </div>
                                <div class="btn-box"><a href="/naucni-kutak/beba-ne-mora-sama-da-se-uspava/"
                                        class="theme-btn btn-style-one">Pročitajte još</a></div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- News Block -->
                    <div class="news-block col-lg-6 col-md-12 col-sm-12 wow fadeInUp">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="/naucni-kutak/kako-da-pripremite-bebu-za-promenu-vremena/"><img
                                            src="/media/pomeranje_sata.jpg" alt="Pomeranje sata - priprema bebe za promenu vremena" loading="lazy"></a></figure>
                                <div class="author-signature"></div>
                            </div>
                            <div class="lower-content">
                                <ul class="post-info">
                                    <li><span class="fa fa-pencil-alt"></span>Anđela Jerinić</li>
                                    <li><span class="fa fa-calendar-alt"></span>20.10.2025 14:23</li>
                                </ul>
                                <h3><a href="/naucni-kutak/kako-da-pripremite-bebu-za-promenu-vremena/">Pripremite bebu za
                                        pomeranje
                                        sata</a></h3>
                                <div class="text">U noću između 25. i 26. oktobra tačno u 3 ujutru kazaljke će se
                                    vratiti sat unazad.
                                    Za odrasle to znači sat vremena više sna ali za roditelje beba može značiti
                                    ustajanje pre 6 ujutru.
                                </div>
                                <div class="btn-box"><a href="/naucni-kutak/kako-da-pripremite-bebu-za-promenu-vremena/"
                                        class="theme-btn btn-style-one">Pročitajte još</a></div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- News Block -->
                    <div class="news-block col-lg-6 col-md-12 col-sm-12 wow fadeInUp">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="/naucni-kutak/radionica-kako-da-beba-prespava-noc/"><img
                                            src="/media/radionica.jpg" alt="Radionica Vizual 18. Nov 2023."
                                            loading="lazy"></a></figure>
                                <div class="author-signature"></div>
                            </div>
                            <div class="lower-content">
                                <ul class="post-info">
                                    <li><span class="fa fa-pencil-alt"></span>Anđela Jerinić</li>
                                    <li><span class="fa fa-calendar-alt"></span>10.05.2025 11:14</li>
                                </ul>
                                <h3><a href="/naucni-kutak/radionica-kako-da-beba-prespava-noc/">Kako da beba prespava
                                        noć?</a></h3>
                                <div class="text">Otvorene su prijave za još jednu onlajn radionicu Kako da beba
                                    prespava noć koja će se održati u subotu, 18. novembra u 11 časova putem ZOOM
                                    platforme. </div>
                                <div class="btn-box"><a href="/naucni-kutak/radionica-kako-da-beba-prespava-noc/"
                                        class="theme-btn btn-style-one">Pročitajte još</a></div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- News Block -->
                    <div class="news-block col-lg-6 col-md-12 col-sm-12 wow fadeInUp">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="/naucni-kutak/glavni-razlog-kratkih-dnevnih-dremki/"><img
                                            src="/media/screenshot-2023-02-28-at-22-25-56.jpg"
                                            alt="Glavni razlog kratkih dnevnih dremki kod beba" loading="lazy"></a></figure>
                                <div class="author-signature"></div>
                            </div>
                            <div class="lower-content">
                                <ul class="post-info">
                                    <li><span class="fa fa-pencil-alt"></span>Anđela Jerinić</li>
                                    <li><span class="fa fa-calendar-alt"></span>28.02.2023 22:17</li>
                                </ul>
                                <h3><a href="/naucni-kutak/glavni-razlog-kratkih-dnevnih-dremki/">Glavni razlog kratkih
                                        dnevnih dremki</a></h3>
                                <div class="text">Glavni razlog zbog kog se mnoga deca i bebe iz dnevnih dremki bude
                                    posle svega 20-30 minuta leži u načinu na koji je dete zaspalo.</div>
                                <div class="btn-box"><a href="/naucni-kutak/glavni-razlog-kratkih-dnevnih-dremki/"
                                        class="theme-btn btn-style-one">Pročitajte još</a></div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- News Block -->
                    <div class="news-block col-lg-6 col-md-12 col-sm-12 wow fadeInUp">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="/naucni-kutak/mom-detetu-nema-pomoci-takvo-je-od-rodenja/"><img
                                            src="/media/valeria-zoncoll-avgc87j_vna-unsplash.jpg"
                                            alt="Novorođenče - Mom detetu nema pomoći takvo je od rođenja" loading="lazy"></a></figure>
                                <div class="author-signature"></div>
                            </div>
                            <div class="lower-content">
                                <ul class="post-info">
                                    <li><span class="fa fa-pencil-alt"></span>Anđela Jerinić</li>
                                    <li><span class="fa fa-calendar-alt"></span>21.02.2023 13:28</li>
                                </ul>
                                <h3><a href="/naucni-kutak/mom-detetu-nema-pomoci-takvo-je-od-rodenja/">"Mom detetu nema
                                        pomoći, takvo je od rođenja"</a></h3>
                                <div class="text">Iako većina umornih roditelja čvrsto veruje da njihovom detetu "nema
                                    pomoći" jer je "drugačije", "treba mu manje sna nego drugoj deci", "takvo je od
                                    rođenja" ili sigurno "ima neki medicinski problem za koji se još ne zna", šanse da
                                    je zaista tako su vrlo male!</div>
                                <div class="btn-box"><a href="/naucni-kutak/mom-detetu-nema-pomoci-takvo-je-od-rodenja/"
                                        class="theme-btn btn-style-one">Pročitajte još</a></div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- News Block -->
                    <div class="news-block col-lg-6 col-md-12 col-sm-12 wow fadeInUp">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="/naucni-kutak/kako-umor-utice-na-dojenje/"><img
                                            src="/media/screenshot-2023-02-19-at-13-56-20.jpg"
                                            alt="Kako umor utiče na dojenje i proizvodnju mleka" loading="lazy"></a></figure>
                                <div class="author-signature"></div>
                            </div>
                            <div class="lower-content">
                                <ul class="post-info">
                                    <li><span class="fa fa-pencil-alt"></span>Anđela Jerinić</li>
                                    <li><span class="fa fa-calendar-alt"></span>19.02.2023 13:53</li>
                                </ul>
                                <h3><a href="/naucni-kutak/kako-umor-utice-na-dojenje/">Kako umor utiče na dojenje?</a></h3>
                                <div class="text">Stres i nervoza do kojih često dolazi usled umora, naročito se prenose
                                    na bebu kod majki koje doje s obzirom da ovo stanje negativno utiče na oksitocin,
                                    hormon ljubavi i sreće koji pomaže mleku da poteče.</div>
                                <div class="btn-box"><a href="/naucni-kutak/kako-umor-utice-na-dojenje/"
                                        class="theme-btn btn-style-one">Pročitajte još</a></div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- News Block -->
                    <div class="news-block col-lg-6 col-md-12 col-sm-12 wow fadeInUp">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="/naucni-kutak/zasto-se-bebe-bude-nocu/"><img
                                            src="/media/incredible-sweet-newborn-baby-sleeps-basket.jpg"
                                            alt="Novorođenče spava u korpi - Zašto se bebe bude noću" loading="lazy"></a>
                                </figure>
                                <div class="author-signature"></div>
                            </div>
                            <div class="lower-content">
                                <ul class="post-info">
                                    <li><span class="fa fa-pencil-alt"></span>Anđela Jerinić</li>
                                    <li><span class="fa fa-calendar-alt"></span>02.02.2023 22:57</li>
                                </ul>
                                <h3><a href="/naucni-kutak/zasto-se-bebe-bude-nocu/">Zašto se bebe bude noću?</a></h3>
                                <div class="text">Noćna buđenja su sasvim prirodna pojava, ne samo kod dece i beba, već
                                    i kod odraslih. Ovo smo nasledili od davnih predaka koje je život u prirodi primorao
                                    na stalnu predostrožnost, pa su tako noću, kao i danju, uvek morali biti na oprezu.
                                </div>
                                <div class="btn-box"><a href="/naucni-kutak/zasto-se-bebe-bude-nocu/"
                                        class="theme-btn btn-style-one">Pročitajte još</a></div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- News Block -->
                    <div class="news-block col-lg-6 col-md-12 col-sm-12 wow fadeInUp">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="/naucni-kutak/plakanje-i-sleep-trening/"><img
                                            src="/media/plakanje.jpg" alt="Plakanje" loading="lazy"></a>
                                </figure>
                                <div class="author-signature"></div>
                            </div>
                            <div class="lower-content">
                                <ul class="post-info">
                                    <li><span class="fa fa-pencil-alt"></span>Anđela Jerinić</li>
                                    <li><span class="fa fa-calendar-alt"></span>01.02.2023 21:22</li>
                                </ul>
                                <h3><a href="/naucni-kutak/plakanje-i-sleep-trening/">Plakanje i program spavanja</a></h3>
                                <div class="text">Oko plakanja i sleep treninga vodi se zaoštrena debata među
                                    roditeljima. Dok su jedni potpuno za trening, drugi tvrde da je štetan i loš po
                                    dugoročan odnos između roditelja i dece. Međutim, vrlo malo znamo, skoro pa ništa,
                                    do kakvih su otkrića došli naučnici i šta je zapravo istina...</div>
                                <div class="btn-box"><a href="/naucni-kutak/plakanje-i-sleep-trening/"
                                        class="theme-btn btn-style-one">Pročitajte još</a></div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- News Block -->
                    <div class="news-block col-lg-6 col-md-12 col-sm-12 wow fadeInUp">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="/naucni-kutak/tisina-i-mrak-za-pravilan-san/"><img
                                            src="/media/kevin-keith-i_6mv1zewpy-unsplash.jpg"
                                            alt="Mrak u sobi - Tišina i mrak za pravilan san bebe" loading="lazy"></a></figure>
                                <div class="author-signature"></div>
                            </div>
                            <div class="lower-content">
                                <ul class="post-info">
                                    <li><span class="fa fa-pencil-alt"></span>Anđela Jerinić</li>
                                    <li><span class="fa fa-calendar-alt"></span>25.12.2022 14:30</li>
                                </ul>
                                <h3><a href="/naucni-kutak/tisina-i-mrak-za-pravilan-san/">Tišina i mrak za pravilan san</a>
                                </h3>
                                <div class="text">Nemojte navikavati svoje dete na buku i svetlo dok spava. Mnogi
                                    roditelji smatraju da je ovo dobro i, pre svega, praktično. Ipak, brojna naučna
                                    istraživanja ukazuju koliko je ovo štetno za san Vaše bebe.</div>
                                <div class="btn-box"><a href="/naucni-kutak/tisina-i-mrak-za-pravilan-san/"
                                        class="theme-btn btn-style-one">Pročitajte još</a></div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- News Block -->
                    <div class="news-block col-lg-6 col-md-12 col-sm-12 wow fadeInUp">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="/naucni-kutak/koliko-je-sna-dovoljno-vasoj-bebi/"><img
                                            src="/media/bastien-jaillot-ejwsogud1re-unsplash.jpg"
                                            alt="Beba spava - Koliko sna je potrebno novorođenčetu" loading="lazy"></a></figure>
                                <div class="author-signature"></div>
                            </div>
                            <div class="lower-content">
                                <ul class="post-info">
                                    <li><span class="fa fa-pencil-alt"></span>Anđela Jerinić</li>
                                    <li><span class="fa fa-calendar-alt"></span>25.12.2022 14:26</li>
                                </ul>
                                <h3><a href="/naucni-kutak/koliko-je-sna-dovoljno-vasoj-bebi/">Koliko je sna potrebno Vašem
                                        novorođenčetu?</a></h3>
                                <div class="text">Vašem novorođenčetu je potrebno između 16 i 17 sati sna. Ipak, mnoge
                                    bebe ne spavaju ni približno ovoliko a mnogi roditelji nisu u dovoljnoj meri svesni
                                    koliko je kvalitetan san bitan za bebin celokupan zdrav razvoj.</div>
                                <div class="btn-box"><a href="/naucni-kutak/koliko-je-sna-dovoljno-vasoj-bebi/"
                                        class="theme-btn btn-style-one">Pročitajte još</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End News Section -->
