---
layout: base.njk
title: Koliko je sna potrebno Vašem novorođenčetu?
description: Novorođenčetu je potrebno 16-17 sati sna. Saznajte zašto je kvalitetan san ključan za razvoj i kako pomoći bebi da se odmori.
keywords: novorođenče, koliko sna, dnevni san, noćni san, spavanje beba
---

{% block head %}
    <script type="application/ld+json">
        { "@type": "BlogPosting", "headline": "Koliko je sna potrebno Vašem novorođenčetu?", "description": "Novorođenčetu je
        potrebno 16-17 sati sna.", "image": "https://babysleepteam.rs/media/bastien-jaillot-ejwsogud1re-unsplash.jpg",
        "inLanguage": "sr-RS", "author": { "@type": "Person", "name": "Anđela Jerinić" }, "publisher": { "@type":
        "LocalBusiness", "name": "BabySleepTeam", "url": "https://babysleepteam.rs", "logo": { "@type": "ImageObject", "url":
        "https://babysleepteam.rs/media/logo-aneta.jpg" } }, "datePublished": "2022-12-25T14:26:00+01:00", "dateModified":
        "2022-12-25T14:26:00+01:00", "mainEntityOfPage": { "@type": "WebPage", "@id":
        "https://babysleepteam.rs/naucni-kutak/koliko-je-sna-dovoljno-vasoj-bebi/" } }
    </script>
{% endblock %}
<!--Page Title-->
<section class="page-title" style="background-image:url(/media/img/shutterstock_1981734041.jpg);">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <ul class="bread-crumb clearfix">
                <li>
                    <a href="/">Početna</a>
                </li>
                <li>
                    <a href="/naucni-kutak/">Naučni kutak</a>
                </li>
                <li>Koliko je sna potrebno novorođenčetu?</li>
            </ul>
            <h1>Koliko je sna potrebno Vašem novorođenčetu?</h1>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- Sidebar Page Container -->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div
            class="row">
            <!--Content Side-->
            <div class="content-side col-lg-8 col-md-12 col-sm-12">
                <div
                    class="news-detail">
                    <!-- News Block -->
                    <div class="news-block">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image wow fadeIn"><img
                                        src="/media/bastien-jaillot-ejwsogud1re-unsplash.jpg"
                                        alt="Beba spava - Koliko sna je potrebno novorođenčetu"
                                        loading="lazy"> </figure>
                                <div class="author-signature"></div>
                            </div>
                            <div class="lower-content">
                                <ul class="post-info">
                                    <li>
                                        <span class="fa fa-pencil-alt"></span>Anđela Jerinić</li>
                                    <li>
                                        <span class="fa fa-calendar-alt"></span>25.12.2022 14:26</li>
                                </ul>
                                <h3>Koliko je sna potrebno Vašem novorođenčetu?</h3>
                                <div class="umb-grid">
                                    <div class="grid-section">
                                        <div>
                                            <div class="container">
                                                <div class="row clearfix">
                                                    <div class="col-md-12 column">
                                                        <div>
                                                            <div style="text-align: justify;">Vašem novorođenčetu je potrebno između 16 i 17 sati sna. Ipak, mnoge bebe ne spavaju
                                                                ni približno ovoliko a mnogi roditelji nisu u dovoljnoj meri svesni koliko je kvalitetan san bitan za bebin celokupan
                                                                zdrav razvoj.</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Other Option -->
                    <div class="post-share-options clearfix">
                        <div class="float-right share">
                            <p>Podelite na:</p>
                            <ul class="social-icon-colored">
                                <li>
                                    <a href="#">
                                        <span class="fab fa-facebook-f"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fab fa-twitter"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--Sidebar Side-->
            <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                <aside class="sidebar">
                    <div class="sidebar-widget posts-widget">
                        <div class="sidebar-title">
                            <h5>Najnovije objave</h5>
                        </div>
                        <div class="widget-content">
                            <article class="post">
                                <div class="post-inner">
                                    <figure class="image">
                                        <a href="/naucni-kutak/beba-ne-mora-sama-da-se-uspava/"><img src="/media/cute-baby-with-stuffed-toy.jpg" alt="Beba ne mora sama da se uspava" loading="lazy"> </a>
                                    </figure>
                                    <div class="date">
                                        <span class="far fa-calendar-alt"></span>20.10.2025</div>
                                    <h5>
                                        <a href="/naucni-kutak/beba-ne-mora-sama-da-se-uspava/">Beba ne mora da se uspava sama</a>
                                    </h5>
                                </div>
                            </article>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>
<!-- End Sidebar Page Container -->