---
layout: base.njk
title: Pripremite bebu za pomeranje sata
description: Kako pripremiti bebu za promenu vremena i izbeći buđenja pre 6? Saveti za pomeranje noćnog spavanja i održavanje kvaliteta dnevnog sna.
keywords: pomeranje sata, promena vremena, beba, spavanje, dnevni san
---

{% block head %}
    <script type="application/ld+json">
        { "@type": "BlogPosting", "headline": "Pripremite bebu za pomeranje sata", "description": "Kako pripremiti bebu za
        promenu vremena i izbeći buđenja pre 6?", "image": "https://babysleepteam.rs/media/pomeranje_sata.jpg", "inLanguage":
        "sr-RS", "author": { "@type": "Person", "name": "Anđela Jerinić" }, "publisher": { "@type": "LocalBusiness", "name":
        "BabySleepTeam", "url": "https://babysleepteam.rs", "logo": { "@type": "ImageObject", "url":
        "https://babysleepteam.rs/media/logo-aneta.jpg" } }, "datePublished": "2025-10-20T14:23:00+01:00", "dateModified":
        "2025-10-20T14:23:00+01:00", "mainEntityOfPage": { "@type": "WebPage", "@id":
        "https://babysleepteam.rs/naucni-kutak/kako-da-pripremite-bebu-za-promenu-vremena/" } }
    </script>
{% endblock %}
<!--Page Title-->
<section class="page-title" style="background-image:url(/media/img/shutterstock_1981734041.jpg);">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <ul class="bread-crumb clearfix">
                <li>
                    <a href="/">Početna</a>
                </li>
                <li>
                    <a href="/naucni-kutak/">Naučni kutak</a>
                </li>
                <li>Pripremite bebu za pomeranje sata</li>
            </ul>
            <h1>Pripremite bebu za pomeranje sata</h1>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- Sidebar Page Container -->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div
            class="row">
            <!--Content Side-->
            <div class="content-side col-lg-8 col-md-12 col-sm-12">
                <div
                    class="news-detail">
                    <!-- News Block -->
                    <div class="news-block">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image wow fadeIn"><img src="/media/pomeranje_sata.jpg" alt="Pomeranje sata - priprema bebe za promenu vremena" loading="lazy">
                                </figure>
                                <div class="author-signature"></div>
                            </div>
                            <div class="lower-content">
                                <ul class="post-info">
                                    <li>
                                        <span class="fa fa-pencil-alt"></span>Anđela Jerinić</li>
                                    <li>
                                        <span class="fa fa-calendar-alt"></span>20.10.2025 14:23</li>
                                </ul>
                                <h3>Pripremite bebu za pomeranje sata</h3>
                                <div class="umb-grid">
                                    <div class="grid-section">
                                        <div>
                                            <div class="container">
                                                <div class="row clearfix">
                                                    <div class="col-md-12 column">
                                                        <div>
                                                            <p>U noću između 25. i 26. oktobra tačno u 3 ujutru kazaljke će se vratiti sat unazad.</p>
                                                            <p>Za odrasle to znači sat vremena više sna, ali za roditelje beba može značiti ustajanje pre 6 ujutru.</p>
                                                            <p>Nemojte mnogo brinuti jer najveći broj beba se promeni prilagodi kroz 6-7 dana, čak i ako se uopšte niste pripremali.</p>
                                                            <p>Međutim, ukoliko želite da sprečite buđenja pre 6, evo nekoliko saveta:</p>
                                                            <p>1. Od srede počnite svaki dan da pomerate odlazak na noćno spavanje za 15ak min kasnije.<br> Na primer, ako beba leže
                                                                u 19h, večeras može leći u 19.15, sutra u 19.30, prekosutra u 19.45 i u subotu u 20h. U nedelju će to ponovo biti 19h.</p>
                                                            <p>2. Trudite se da dnevni san ne trpi i da zbog pomeranja za kasnije nemate predugačke budne prozore kao i da beba
                                                                spava što više preko dana.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Other Option -->
                    <div class="post-share-options clearfix">
                        <div class="float-right share">
                            <p>Podelite na:</p>
                            <ul class="social-icon-colored">
                                <li>
                                    <a href="#">
                                        <span class="fab fa-facebook-f"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fab fa-twitter"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--Sidebar Side-->
            <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                <aside class="sidebar">
                    <div class="sidebar-widget posts-widget">
                        <div class="sidebar-title">
                            <h5>Najnovije objave</h5>
                        </div>
                        <div class="widget-content">
                            <article class="post">
                                <div class="post-inner">
                                    <figure class="image">
                                        <a href="/naucni-kutak/beba-ne-mora-sama-da-se-uspava/"><img src="/media/cute-baby-with-stuffed-toy.jpg" alt="Beba ne mora sama da se uspava" loading="lazy">
                                        </a>
                                    </figure>
                                    <div class="date">
                                        <span class="far fa-calendar-alt"></span>20.10.2025</div>
                                    <h5>
                                        <a href="/naucni-kutak/beba-ne-mora-sama-da-se-uspava/">Beba ne mora da se uspava sama</a>
                                    </h5>
                                </div>
                            </article>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>
<!-- End Sidebar Page Container -->