---
layout: base.njk
title: "Mom detetu nema pomoći, takvo je od rođenja"
description: Problemi sa spavanjem kod dece su rešivi. Naučna istraživanja pokazuju da program spavanja pomaže u ogromnom broju slučajeva.
keywords: spavanje dece, program spavanja, noćna buđenja, navike spavanja
---

{% block head %}
    <script type="application/ld+json">
        { "@type": "BlogPosting", "headline": "Mom detetu nema pomoći, takvo je od rođenja", "description": "Problemi sa
        spavanjem kod dece su rešivi.", "image": "https://babysleepteam.rs/media/valeria-zoncoll-avgc87j_vna-unsplash.jpg",
        "inLanguage": "sr-RS", "author": { "@type": "Person", "name": "Anđela Jerinić" }, "publisher": { "@type":
        "LocalBusiness", "name": "BabySleepTeam", "url": "https://babysleepteam.rs", "logo": { "@type": "ImageObject", "url":
        "https://babysleepteam.rs/media/logo-aneta.jpg" } }, "datePublished": "2023-02-21T13:28:00+01:00", "dateModified":
        "2023-02-21T13:28:00+01:00", "mainEntityOfPage": { "@type": "WebPage", "@id":
        "https://babysleepteam.rs/naucni-kutak/mom-detetu-nema-pomoci-takvo-je-od-rodenja/" } }
    </script>
{% endblock %}
<!--Page Title-->
<section class="page-title" style="background-image:url(/media/img/shutterstock_1981734041.jpg);">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <ul class="bread-crumb clearfix">
                <li>
                    <a href="/">Početna</a>
                </li>
                <li>
                    <a href="/naucni-kutak/">Naučni kutak</a>
                </li>
                <li>"Mom detetu nema pomoći"</li>
            </ul>
            <h1>"Mom detetu nema pomoći, takvo je od rođenja"</h1>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- Sidebar Page Container -->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div
            class="row">
            <!--Content Side-->
            <div class="content-side col-lg-8 col-md-12 col-sm-12">
                <div
                    class="news-detail">
                    <!-- News Block -->
                    <div class="news-block">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image wow fadeIn"><img
                                        src="/media/valeria-zoncoll-avgc87j_vna-unsplash.jpg"
                                        alt="Novorođenče - Mom detetu nema pomoći takvo je od rođenja"
                                        loading="lazy"> </figure>
                                <div class="author-signature"></div>
                            </div>
                            <div class="lower-content">
                                <ul class="post-info">
                                    <li>
                                        <span class="fa fa-pencil-alt"></span>Anđela Jerinić</li>
                                    <li>
                                        <span class="fa fa-calendar-alt"></span>21.02.2023 13:28</li>
                                </ul>
                                <h3>"Mom detetu nema pomoći, takvo je od rođenja"</h3>
                                <div class="umb-grid">
                                    <div class="grid-section">
                                        <div>
                                            <div class="container">
                                                <div class="row clearfix">
                                                    <div class="col-md-12 column">
                                                        <div>
                                                            <p style="text-align: justify;">Iako većina umornih roditelja čvrsto veruje da njihovom detetu „nema pomoći“ jer je
                                                                „drugačije“,„povukl’o je na tatu“, „treba mu manje sna nego drugoj deci“, „takvo je od rođenja“ ili sigurno „ima neki
                                                                medicinski problem za koji se još ne zna“,
                                                                <strong>šanse da je zaista tako su vrlo
                                                                                                                                                    male</strong>!</p>
                                                            <p style="text-align: justify;">
                                                                <strong>
                                                                    <a rel="noopener" href="https://pubmed.ncbi.nlm.nih.gov/17068979/" target="_blank">Rezultati 52 naučne studije</a>
                                                                    pokazuju da je</strong>
                                                                <strong>program spavanja delotvoran u 94%
                                                                    slučajeva</strong>, te da nisu potrebni nikakvi lekovi niti veće intervencije
                                                                    da bi Vaše dete spavalo 11-12 sati noću bez buđenja i imalo uredan dnevni san potreban za njegov uzrast.</p>
                                                            <p style="text-align: justify;">Ipak, većina dece spava daleko manje i lošije od ovoga. Postavlja se pitanje, zašto je
                                                                to tako?</p>
                                                            <p style="text-align: justify;">Vrlo mali broj roditelja ima sreću da je njihovo dete samo od sebe dobra spavalica.
                                                                Drugi, daleko veći broj roditelja pati od nespavanja zajedno sa svojim detetom i najčešće veruje da je njegovo dete
                                                                poseban slučaj, da mu nema pomoći i da su osuđeni da se zajedno pate i ne spavaju sve dok beba ne poraste i dok problemi
                                                                sa spavanjem ne prođu sami od sebe.
                                                                <strong>U ovoj pomirenosti sa nespavanjem kao nečim „normalnim“ leži najveći
                                                                    problem.</strong>
                                                                Praksa je pokazala da deca tokom programa spavanja počnu da spavaju dobro pre nego što roditelji u to poveruju. Sa druge
                                                                strane, lekari vrlo malo znaju o spavanju kod dece iako je ono široko rasprostranjeno, što roditelje dodatno podstiče da
                                                                nespavanje smatraju normalnim i nečim čemu nema leka.</p>
                                                            <p style="text-align: justify;">Ipak, ovo je daleko od istine i
                                                                <strong>
                                                                    <a rel="noopener" href="https://pubmed.ncbi.nlm.nih.gov/18710671/" target="_blank">savremenih naučnih istraživanja</a>
                                                                    koja nam potvrđuju da su problemi sa spavanjem rešivi u mnogo kraćem periodu nego što to većina roditelja može i da
                                                                    zamisli
                                                                </strong>i
                                                                                                                                            još teže - poveruje.</p>
                                                            <p style="text-align: justify;">Za razvijanje dobrih navika spavanja kod
                                                                dece
                                                                <strong>ključno je dobro
                                                                                                                                                    informisati</strong>
                                                                <strong>roditelje</strong>
                                                                na ovu temu.
                                                                <strong>Najbolji period za upoznavanje roditelja sa osnovama spavanja kod beba je
                                                                    novorođenački.</strong>
                                                                Kada se od prvog dana dete usmeravanje na pravi način, do većih problema sa spavanjem najverovatnije nikada neće ni doći
                                                                ili će oni biti vrlo lako i brzo rešivi.</p>
                                                            <p style="text-align: justify;">Ipak, za potpuno poboljšanje spavanja kod dece
                                                                <strong>nikad
                                                                                                                                                    nije kasno.
                                                                </strong>Mnoge roditelje iznenadi kada čuju da se određeni broj dece sa 5,6,7, ili čak 8 i 9 godina i dalje bude noću.
                                                                Spavanje jeste nešto što će se u najvećem broju slučajeva vremenom samo od sebe poboljšati ali će za to najčešće biti
                                                                potrebno
                                                                <strong>dve do tri godine.
                                                                </strong>
                                                            </p>
                                                            <p style="text-align: justify;">Nasuprot tome, u kom god da je dete uzrastu, promenom načina uspavljivanja, rutine,
                                                                dnevnim navikama i upoznavanjem roditelja sa osnovim pravilnostima spavanja kod beba i male dece,
                                                                <strong>ovaj problem rešiv je za najčešće dve a najviše četiri
                                                                    nedelje.</strong>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Other Option -->
                    <div class="post-share-options clearfix">
                        <div class="float-right share">
                            <p>Podelite na:</p>
                            <ul class="social-icon-colored">
                                <li>
                                    <a href="#">
                                        <span class="fab fa-facebook-f"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fab fa-twitter"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--Sidebar Side-->
            <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                <aside class="sidebar">
                    <div class="sidebar-widget posts-widget">
                        <div class="sidebar-title">
                            <h5>Najnovije objave</h5>
                        </div>
                        <div class="widget-content">
                            <article class="post">
                                <div class="post-inner">
                                    <figure class="image">
                                        <a href="/naucni-kutak/beba-ne-mora-sama-da-se-uspava/"><img src="/media/cute-baby-with-stuffed-toy.jpg" alt="Beba ne mora sama da se uspava" loading="lazy"> </a>
                                    </figure>
                                    <div class="date">
                                        <span class="far fa-calendar-alt"></span>20.10.2025</div>
                                    <h5>
                                        <a href="/naucni-kutak/beba-ne-mora-sama-da-se-uspava/">Beba ne mora da se uspava sama</a>
                                    </h5>
                                </div>
                            </article>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>
<!-- End Sidebar Page Container -->